KVAE_ENCODER_MODEL_NAME=KVAE_ENCODER
KVAE_DECODER_MODEL_NAME=KVAE_DECODER
KVAE_API_MAX_CONCURRENT_INFERENCE=4
KVAE_API_TORCH_NUM_THREADS=4
KVAE_API_TORCH_NUM_INTEROP_THREADS=1

MLFLOW_BUCKET_NAME=<MLFLOW_BUCKET_NAME>

AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_DEFAULT_REGION=<AWS_DEFAULT_REGION>
MLFLOW_EXPERIMENT_NAME=KVAE
S3_ENDPOINT_URL=<S3_ENDPOINT_URL>
MLFLOW_S3_ENDPOINT_URL=<MLFLOW_S3_ENDPOINT_URL>
MLFLOW_TRACKING_URI=<MLFLOW_TRACKING_URI>
MLFLOW_REGISTRY_URI=<MLFLOW_REGISTRY_URI>

MLFLOW_TRACKING_USERNAME=<MLFLOW_TRACKING_USERNAME>
MLFLOW_TRACKING_PASSWORD=<MLFLOW_TRACKING_PASSWORD>
KVAE_API_CACHE_ENABLED=True
KVAE_API_CACHE_MAX_ENTRIES=32